.cardContainer{
    height: 25rem;
    width: 20rem;
    position: relative;
    margin: 1rem;
    background-color: var(--white);
    border-radius: 25px;

    .icon{
        text-align: center;
        padding-top: 1.5rem;
        i{
            font-size: 3rem;
            color: var(--orange-cbm);
            border: solid 3px var(--orange-cbm);
            border-radius: 100px;
        }
    }

    &:hover{
        transition: 0.5s;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
}