.cardContainer{
    background-color: var(--white);
    width: 45em;
    height: 65em;
    border-radius: 50px;

    margin-left: 5rem;

    .icon{
        width: 5rem;
        height: 5rem;

        margin: 5rem;
        
        text-align: center;
        vertical-align:middle;
        display:table-cell;

        border: solid 10px var(--background);
        border-radius: 50px;
        background-color: var(--text);
        
        i{
            font-size: 2.5rem;
            color: var(--white);
        }
    }

    &:hover{
        -webkit-box-shadow: 2px -1px 58px 5px rgba(143,143,143,1);
        -moz-box-shadow: 2px -1px 58px 5px rgba(143,143,143,1);
        box-shadow: 2px -1px 58px 5px rgba(143,143,143,1);
        
        -webkit-transition: all;
        transition: all 0.1s ease-in-out;

    }
}