.cardContainer{
    background-color: var(--white);
    width: 20rem;
    height: 25rem;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    transition: all 0.2s ease-in-out;

    margin-left: 5rem;

    &:hover{
        border-top: 1px solid #f8f8f8;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px -1px 9px 7px rgba(109,109,109,0.52); 
        box-shadow: 0px 10px 13px -7px #000000, 3px -1px 9px 7px rgba(109,109,109,0.52);
        
        -webkit-transition: all;
        transition: all 0.2s ease-in-out;

    }

    .icon{
        width: 5rem;
        height: 5rem;
        
        
        text-align: center;
        vertical-align:middle;
        display:table-cell;

        border: solid 10px var(--background);
        border-radius: 50px;
        background-color: var(--text);
        
        i{
            font-size: 2.5rem;
            color: var(--white);
        }
    }
}