.headerContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;

    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;

    background: transparent;
    transition: all .7s ease-in;
}


.fixed{
    position: fixed;
    background-color: var(--orange-cbm);
    top: 0;
}

.headerContainer .imgContainer{
    padding: 1.5rem;
    max-width: 10rem;
}

.headerContainer .imgContainer img{
    width: 9rem;
    height: 4rem;
}

.headerContainer .navContainer{
    margin: 2.5rem;
    margin-left: 20rem;
    float: right;
    left: 2rem;
}


.headerContainer .navContainer > ul > li{
    display: inline;
    margin: 0 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: var(--orange-cbm);
    text-transform: uppercase;
    cursor: pointer;

    border-bottom: 1px solid var(--orange-cbm);
}

.headerContainer .navContainer > ul > li:hover{
    color: var(--orange-dark);
    border-bottom: 2px solid var(--orange-dark);
}