.headerContainer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all .3s ease-in;
}

.fixed{
    position: fixed;
    background-color: black;
    color: #fff;
    top: 0;
}

.fixed > ul > li{
    color: #fff;
}

.headerContainer .imgContainer{
    padding: 1.5rem;
    max-width: 10rem;
}

.headerContainer .imgContainer img{
    width: 9rem;
    height: 4rem;
}

.headerContainer .navContainer{
    margin: 2.5rem;
    margin-left: 20rem;
    float: right;
    left: 2rem;
}

.headerContainer .navContainer > ul > li{
    display: inline;
    margin: 0 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: var(--orange-cbm);
    text-transform: uppercase;
    cursor: pointer;

    border-bottom: 1px solid var(--orange-cbm);
    transition: all .3s ease-in;
}

.headerContainer .navContainer > ul > li:hover{
    color: var(--orange-dark);
    border-bottom: 2px solid var(--orange-cbm);
}

.headerContainer .navContainer > ul > li i{
    font-size: 1.5rem;
}