.headerContainer{
    height: 7rem;
    width: 100%;

    display: flex;

    z-index: 99999;
    overflow: hidden;
    position:absolute;
    transition: all .3s ease-in;

}

.fixed{
    position: fixed;
    background-color: black;
    color: #fff;
}

.headerContainer .imgContainer{
    padding: 1.5rem;
    max-width: 10rem;
}

.headerContainer .imgContainer img{
    width: 9rem;
    height: 4rem;
}

.headerContainer .menuBtn{
    font-size: 5rem;
    color: var(--orange-cbm);
    transition: all 0.3s ease-in-out;
}

.headerContainer .navContainer{
    margin: 2.5rem;
    margin-left: 20rem;
    float: right;
    left: 2rem;
    
}

.headerContainer .navContainer > ul > li{
    display: inline;
    margin: 0 0.5rem;

    font-size: 1rem;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;

    border-bottom: 1px solid var(--orange-cbm);
    transition: all .2s ease-in;
}

.headerContainer .navContainer > ul > li:hover{
    color: var(--orange-dark);
    border-bottom: 2px solid var(--orange-cbm);
}

.headerContainer .navContainer > ul > li i{
    font-size: 1.5rem;
}

.headerContainer .navContainerFixed > ul > li{
    color: var(--white);
}

.headerContainer .navContainerFixed > ul > li:hover{
    color: var(--orange-dark);
    border-bottom: 2px solid var(--orange-cbm);
}