.sliderContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    z-index: 5;
}

.sliderContainer .slider{
    width: 100%;
    height: 100%;
    transition: all .7s ease-in;
}

.sliderContainer .slider img{
    
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
}

.sliderContainer .slider h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.sliderContainer .slider p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}
  


.sliderContainer .slider span{
    position: absolute;
    top: 25rem;
    z-index: 1;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    color: black;
    opacity: 0.3;
    font-size: 5rem;
}

.arrowPrev{
    left: 0;
}

.arrowNext{
    right: 0;
}
