*{
    margin: 0;
    padding: 0;
    border: 0;

    list-style: none;

    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

:root{
    --white: #fff;
    --orange-cbm: #ef7d00;
    --orange-dark: #df6807;
    --orange-light: #f08f27;
    --title: #2f2f2f;
    --text: #8a98ab;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.50%;
    }
}

body{
    background-color: var(--white);
    color: var(--text);
}

button, a{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}